.alert {
  padding: 15px 15px 15px 61px;
  width: max-content;
  margin: auto;
  border: 1px solid #e0b1b8;
  border-radius: 4px;
  background-color: #f2dede;
  color: #b94a48;
  background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);
  position: relative;
  .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #da4932;
    color: white;

    &:after {
      transform: rotate(45deg);
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      border-left: 0;
      border-bottom: 0;
      top: 50%;
      right: -5px;
      margin-top: -5px;
      background: #da4932;
    }
  }
}