@use '../../assets/base';

.container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0;
  .header_days {
    min-height: 38px;
    overflow-x: auto;
    padding-top: 6px;
    color: black;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin: 0;

    &::-webkit-scrollbar {
      width: 0.5em;
      height: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
}
