.page_header {
  display: flex;
  align-items: center;
  justify-content: center;
  .go_back {
    cursor: pointer;
    line-height: 1rem;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0 7px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    svg {
      width: auto;
      height: 30px;
      margin-left: 15px;
    }
  }
  .page_name {
    font-size: 1.3rem;
    color: #414141;
    font-weight: 500;
  }
}
