.container {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  margin: 0 12px 16px;
  overflow: hidden;
  .month_wrap {
    .month_week {
      padding: 20px 0;
      display: flex;
      border-bottom: 1px solid rgba(28, 33, 48, 0.05);

  }
  }
}