@use '../../assets/base';

.container {
  padding: 6px 16px 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: base.$color-bg-dark-accent;

  .open_menu {
    align-items: center;
    display: inline-flex;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
    order: 1;
    margin-right: 14px;
  }
  .logo {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-right: auto;
    order: 2;
    padding: 2px 0 0;
  }

  .header_search {
    order: 3;
    .searchField {
      flex: 2 2 auto;
      min-width: min-content;
      height: 2.2em;
      padding: 8px;
      border-radius: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 6px;
      @media (max-width: base.$media-desktop-breakpoint) {
        background-color: white;
        color: black;
        &:focus {
          background-color: white;
          color: black;
        }
      }
      img {
        width: 1em;
        height: 1em;
      }

      input {
        background-color: transparent;
        outline-style: none;
        border: none;
        color: inherit;
        font-size: 1em;
        font-weight: 400;
        word-wrap: break-word;
        font-family: base.$font-family-primary;
        text-transform: capitalize;
        width: 120px;
        flex: 2 2 auto;
        &::placeholder {
          color: inherit;
        }
      }
    }
  }
  .search_active {
    display: none;
  }
}