@use '../../assets/base';

.container {
  position: relative;
  max-width: 100vw;
  .navigation_bar {
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    .navigation_item {
      text-decoration: none;
      div {
        height: 37px;
        font-size: 0.7rem;
        font-weight: 400;
        font-family: base.$font-family-primary;
        color: black;
      }
    }
  }
}

@media (max-width: base.$media-desktop-breakpoint) {
  .container {
    &::after {
      z-index: 100;
      content: '';
      display: block;
      position: fixed;
      width: 100%;
      bottom: 0;
      height: 9px;
      background-color: base.$color-bg-light-secondary;
    }
    .navigation_bar {
      display: flex;
      bottom: 8px;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      max-height: base.$navigation-height-mobile;
      align-items: flex-start;
      justify-content: space-around;
      padding: 8px 0;
      text-align: center;
      .navigation_item {
        div {
          min-width: 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }
}
