@use '../../assets/base';

.title {
  color: base.$text-color-accent;
  font-size: 12px;
  letter-spacing: 0.1rem;
  line-height: 15px;
  margin-left: 6px;
  text-transform: uppercase;
}
.light {
  color: base.$text-color-grey-date;
  fill: white;
}
.dark {
  fill: black;
}