@use '../../assets/base';

.menu_icon {
  height: 16px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: base.$text-color_accent;
}

.menu_button {
  max-width: min-content;
  background-color: transparent;
  border: 0;
  position: relative;
  cursor: pointer;

  .menu_icon {
    color: base.$text-color-accent;
  }

  .dark {
    color: #333333;
  }
}
.container {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  background-color: inherit;
  transition: width 0.3s ease-in-out;
  width: 0;
  max-height: 0;
  &.active {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    @media (min-width: base.$media-desktop-breakpoint) {
      top: base.$advertisement-height;
      width: 400px;
    }
  }
  .nav_menu {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 8px;
    .menu_button {
      margin-top: 8px;
      margin-left: calc(100% - 48px);
    }
    .menu_icon {
      color: black;
    }
    ul {
      padding: 10px;
      width: max-content;
      margin: 0 auto;
      list-style: none;
      li {
        margin: 10px 0;
        padding: 5px 15px;
        gap: 10px;
        border-radius: 5px;
        font-family: base.$font-family-primary;
        color: base.$text-color-dark;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          text-decoration: none;
          color: base.$text-color-dark;
        }
        @media (min-width: base.$media-desktop-breakpoint) {
          &.mobileOnly {
            display: none;
          }
        }
      }
    }
  }
}
