@use "../../assets/base";

.footer {
  background-color: base.$color-bg-dark-accent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  padding: 26px 0 32px;
  .footer_head {
    margin-bottom: 34px;
    padding: 0 24px 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    padding: 0 24px 0 20px;
    > * {
      color: base.$text-color-white;
      font-size: 1rem;
      font-weight: 500;
      line-height: 20px;
      margin: 0 15px 20px;
      white-space: nowrap;
      text-transform: capitalize;
    }
    a {
      text-decoration: none;
    }
  }
}