// Variables for the theme colors and fonts used in this project

$font-family-primary: 'Roboto', sans-serif;

$text-color-black:  hsl(0, 0%, 0%);
$text-color-white: hsla(0, 0%, 100%, 1);
$text-color-dark: #1c2130;
$text-color-accent: hsla(217, 91%, 59%, 1);
$text-color-secondary: #ff5c00;
$text-color-grey-date: #7f8fac;


$color-bg-light-primary: hsl(0, 0%, 100%);
$color-bg-dark-accent: hsla(218, 45%, 10%, 1);
$color-bg-light-secondary: #f2f2f7;
// TODO: виправити кольори для фону


$gradient-bg-light: linear-gradient(
  to top,
  #fff 200px,
  #eee
);

$padding-small: 7px;
$padding-medium: 15px;
$padding-big: 40px;

$margin-small: 8px;
$margin-medium: 15px;
$margin-big: 40px;

$media-tablet-breakpoint: 750px;
$media-desktop-breakpoint: 1024px;

$advertisement-height: 65px;
$navigation-height-mobile: 60px;
$navigation-height-desktop: 60px;
$desktop-body-padding: 10vw;

@mixin mainHeading() {
  // color: $text-color-accent;
  font-family: $font-family-primary;
  font-size: 2em;
  font-weight: 700;
}

@mixin smallLabel() {
  font-family: $font-family-primary;
  font-size: 0.8125em;
  color: $text-color-black;
  font-weight: 700;
}

@mixin gradient_text($gradient) {
  background: $gradient;
  // background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}