@use './assets/base';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: base.$font-family-primary;
  background: rgb(240,206,206);
  background: linear-gradient(to top right, rgba(240,206,206,1) 0%, rgba(230,167,34,1) 100%);
  font-size: 14px;
}
header {
  width: 100%;
}
main {
  width: 100%;
}
a {
  text-decoration: none;
}

@media (min-width: base.$media-desktop-breakpoint) {
  body {
    padding: 0 base.$desktop-body-padding;
  }
}