@use './assets/base';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: base.$font-family-primary;
  background-image: base.$gradient-bg-light;
  font-size: 14px;
}
header {
  width: 100%;
}
main {
  width: 100%;
}
a {
  text-decoration: none;
}

@media (min-width: base.$media-desktop-breakpoint) {
  body {
    padding: 0 base.$desktop-body-padding;
  }
}