@use '../../assets/base';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .weather_icon {
    margin-bottom: base.$margin-small;
  }
  .degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: base.$text-color-dark;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    .high {
      margin-bottom: 4px;
    }
    .low {
      color: #366682;
    }
  }
}